# Ignore the env directory and its contents
/env/

# Python compiled files
__pycache__/
*.pyc

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Coverage reports
.coverage
coverage.xml
*.cover

# Static files
staticfiles/
